[alias]
ad = "add --no-default-features --optional"
br = "b -r"
rr = "r -r"
d = "rustdoc"
re = "r --example"
rb = "r --bin"
bi = "binstall --disable-telemetry"
gl = "generate-lockfile"

cf = "clippy --fix --allow-no-vcs --no-deps"
fx = "fix --allow-no-vcs"

ndf = "r --no-default-features"
all = "r --all-features"

tn = "tree -e normal"
ti = "t -- --exact --nocapture"
ta = "t -- --nocapture"
md = "metadata --no-deps --format-version 1"

l = "b --profile lto"
no = "c --profile no"

h = "s x86_64h-apple-darwin"
e = "s arm64e-apple-darwin"
s = "b --profile src -Zbuild-std=std,proc_macro,panic_abort -Zbuild-std-features=optimize_for_size --target"
z = "zigbuild --profile src -Zbuild-std=std,proc_macro,panic_abort -Zbuild-std-features=optimize_for_size --target"

[cargo-new]
vcs = "none"

[net]
#offline = true

#NO
[profile.no]
inherits = "dev"
rustflags = [
  "-Cprefer-dynamic",
  "-Zhint-mostly-unused",
  "-Zlocation-detail=none",
  "-Zno-analysis",
  "-Zno-codegen",
  "-Zno-link",
  "-Zparse-crate-root-only",
  "-Ztrap-unreachable=no",
  "-Dunused_crate_dependencies",
  "-Dunused_extern_crates",
  "-Dclippy::redundant_pub_crate",
]
debug-assertions = false
[profile.no.package."*"]
rustflags = [
  "-Cprefer-dynamic",
  "-Zlocation-detail=none",
  "-Ztrap-unreachable=no",
  "-Dunused_crate_dependencies",
  "-Dunused_extern_crates",
  "-Dclippy::redundant_pub_crate",
]
inherits = "no"
[profile.no.build-override]
rustflags = [
  "-Cprefer-dynamic",
  "-Zlocation-detail=none",
  "-Ztrap-unreachable=no",
  "-Dunused_crate_dependencies",
  "-Dunused_extern_crates",
  "-Dclippy::redundant_pub_crate",
]
inherits = "no"

#dev
[profile.dev]
rustflags = ["-Cprefer-dynamic", "-Cdebug-assertions", "-Zhint-mostly-unused"]
rpath = true
debug = false
strip = true
trim-paths = true
[profile.dev.package."*"]
rustflags = ["-Cprefer-dynamic"]
inherits = "dev"
debug-assertions = false
[profile.dev.build-override]
rustflags = ["-Cprefer-dynamic"]
inherits = "dev"

#test
[profile.test]
rustflags = ["-Cprefer-dynamic", "-Cdebug-assertions", "-Zhint-mostly-unused"]
inherits = "dev"
[profile.test.package."*"]
rustflags = ["-Cprefer-dynamic"]
inherits = "dev"
[profile.test.build-override]
rustflags = ["-Cprefer-dynamic"]
inherits = "dev"

#bench
[profile.bench]
rustflags = ["-Cprefer-dynamic", "-Cdebug-assertions", "-Zhint-mostly-unused"]
inherits = "dev"
[profile.bench.package."*"]
rustflags = ["-Cprefer-dynamic"]
inherits = "dev"
[profile.bench.build-override]
rustflags = ["-Cprefer-dynamic"]
inherits = "dev"

#release
[profile.release]
rustflags = ["-Cprefer-dynamic", "-Zhint-mostly-unused"]
rpath = true
strip = true
trim-paths = true
[profile.release.package."*"]
rustflags = ["-Cprefer-dynamic"]
inherits = "release"
[profile.release.build-override]
rustflags = ["-Cprefer-dynamic"]
inherits = "release"

#lto
[profile.lto]
inherits = "release"
rustflags = [
  "-Zlocation-detail=none",
  "-Ztrap-unreachable=no",
  "-Zhint-mostly-unused",
  # "-Zvirtual-function-elimination",
]
codegen-units = 1
lto = true
panic = "abort"
[profile.lto.build-override]
inherits = "lto"
rustflags = [
  "-Cprefer-dynamic",
  "-Zlocation-detail=none",
  "-Ztrap-unreachable=no",
]
[profile.lto.package."*"]
inherits = "lto"
rustflags = [
  "-Cprefer-dynamic",
  "-Zlocation-detail=none",
  "-Ztrap-unreachable=no",
]

#src
[profile.src]
inherits = "lto"
panic = "immediate-abort"
rustflags = [
  "-Zhint-mostly-unused",
  "-Zforce-unstable-if-unmarked",
  "-Zlocation-detail=none",
  "-Ztrap-unreachable=no",
  "-Zcross-crate-inline-threshold=yes",
]
[profile.src.build-override]
inherits = "src"
rustflags = [
  "-Cprefer-dynamic",
  "-Zlocation-detail=none",
  "-Ztrap-unreachable=no",
]
[profile.src.package."*"]
inherits = "src"
rustflags = [
  "-Cprefer-dynamic",
  "-Zlocation-detail=none",
  "-Ztrap-unreachable=no",
]

[profile.'cfg(target_os = "windows")'.build-overide]
rustflags = ["-Cprefer-dynamic=no"]
[profile.'cfg(target_os = "windows")'.package."*"]
rustflags = ["-Cprefer-dynamic=no"]

[rust]
lld = true
new-symbol-mangling = true

[unstable]
unstable-options = true
avoid-dev-deps = true
panic-abort-tests = true
bindeps = true
binary-dep-depinfo = true
profile-rustflags = true
codegen-backend = true
target-applies-to-host = true
host-config = true
script = true
asymmetric-token = true
trim-paths = true
gc = true
git = { shallow_index = true, shallow_deps = true }
gitoxide = { checkout = true, fetch = true, internal_use_git2 = true }
public-dependency = true
cargo-lints = true
checksum-freshness = true
feature-unification = true
rustdoc-depinfo = true
no-embed-metadata = true
build-dir-new-layout = true
profile-hint-mostly-unused = true
panic-immediate-abort = true
rustc-unicode = true
rustdoc-mergeable-info = true

[lints]
workspace = true

[lints.rust]
[lints.rustdoc]
[lints.clippy]
[lints.cargo]

# build-std = [
#     "core",
#     "std",
#     "alloc",
#     "proc_macro",
#     "panic_abort",
#     "panic_unwind",
#     "libc",
#     "compiler_builtins",
# ]
# build-std-features = ["force_alloc_jemalloc","threads"]

[term]
color = "always"
# progress.when = "auto"
# quiet=true

[env]
RUST_BACKTRACE = "0"
RUST_LIB_BACKTRACE = "0"
RUST_PANIC_STRATEGY = "abort"
RUSTC_ICE = "0"
CARGO_LOG = "off"
RUSTDOC_LOG = "off"
RUSTC_LOG = "off"
RUSTC_BOOTSTRAP = "1"
# RUST_TEST_NOCAPTURE = "1"
# SCCACHE_DIRECT = "true"
# SCCACHE_RECACHE = "true"

[build]
rustflags = ["-Zpanic-in-drop=abort"]
rustdocflags = [
  "-Zunstable-options",
  "--no-deps",
  "--generate-link-to-definition",
  "--document-hidden-items",
  "--document-private-items",
  "--default-theme dark",
  "--all-features",
]
incremental = true
build-dir = "build-dir"
# target-dir = "target-dir"
warnings = "allow"
# compiler-docs = true
# rustc-wrapper = "sccache"
# rustc-workspace-wrapper = "sccache"
# target-dir = "your-preferred-target-dir"

[host]
rustflags = ["-Ctarget-cpu=native", "-Ztune-cpu=native", "-Cprefer-dynamic"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = [
  "--no-deps",
  "--cfg",
  "docsrs",
  "--playground-url",
  "https://play.rust-lang.org",
]

[target.'cfg(true)']
rustflags = [
  "-Ctarget-feature=-crt-static",
  "-Csymbol-mangling-version=hashed",
  "-Coverflow-checks=no",
  "-Cforce-frame-pointers=no",
  "-Cforce-unwind-tables=no",
  "-Copt-level=s",
  "-Cno-redzone",
  "-Cdebuginfo=0",
  "-Cstrip=symbols",
  "-Ccollapse-macro-debuginfo=y",
  "-Cjump-tables=false",
  # "-Cpanic=immediate-abort",

  "-Zunstable-options",
  "-Zexport-executable-symbols",
  "-Zno-profiler-runtime",
  "-Zplt",
  "-Zthinlto",
  "-Zdylib-lto",
  "-Zno-generate-arange-section",
  "-Zdep-info-omit-d-target",
  "-Zpolonius=next",
  "-Ztrim-diagnostic-paths",
  "-Zshare-generics",
  "-Zmerge-functions=aliases",
  "-Zinline-mir",
  "-Zinline-mir-preserve-debug=n",
  "-Zmir-opt-level=4",
  "-Zpacked-bundled-libs",
  "-Zmaximal-hir-to-mir-coverage",
  "-Zterminal-urls",
  "-Zthreads=0",
  "-Zstaticlib-allow-rdylib-deps",
  "-Zstaticlib-prefer-dynamic",
  "-Znext-solver=globally",
  # "-Zpanic-in-drop=abort",
  "-Zuse-sync-unwind",
  "-Zgraphviz-dark-mode",
  "-Zshell-argfiles",
  "-Zchecksum-hash-algorithm=blake3",
  "-Zmir-strip-debuginfo=all-locals",
  "-Ztyping-mode-borrowck",
  "-Zexperimental-default-bounds",
  "-Zhigher-ranked-assumptions",
  # "-Zoffload=Enable,Device",
  # "-Zbuild-sdylib-interface",

  "-Adead_code",
  "-Aclippy::tabs_in_doc_comments",
  "-Dclippy::redundant_clone",
  "-Dclippy::unused_io_amount",
  "-Dclippy::format_in_format_args",
  "-Dclippy::to_string_in_format_args",
  "-Dclippy::uninlined_format_args",
  "-Wlinker_messages",
]

[target.'cfg(all(target_os="linux",not(any(target_family="wasm",target_arch="sparc64", target_arch="powerpc64"))))']
rustflags = [
  "-Clink-self-contained=+linker",
  "-Clinker-features=+lld",
  "-Clink-arg=-Wl,--icf=all",
  "-Clink-arg=-Wl,--relax",
]

[target.'cfg(all(target_os="linux",not(target_family="wasm")))']
rustflags = [
  "-Clink-arg=-Wl,--gc-sections",
  "-Clink-arg=-Wl,-z,norelro",
  "-Clink-arg=-Wl,--as-needed",
  "-Clink-arg=-Wl,--discard-all",
  "-Clink-arg=-Wl,--build-id=none",
  "-Clink-arg=-Wl,--strip-all",
  "-Clink-arg=-Wl,--no-eh-frame-hdr",
]

[target.'cfg(all(target_family="windows",target_env="msvc"))']
rustflags = [
  "-Cforce-unwind-tables=yes",
  "-Clink-arg=/OPT:REF",
  "-Clink-arg=/OPT:ICF",
  "-Clink-arg=/DEBUG:NONE",
  "-Clink-arg=/INCREMENTAL:NO",
  "-Clink-arg=/MERGE:.rdata=.text",
  "-Clink-arg=/MERGE:.pdata=.text",
  "-Clink-arg=/VERSION:0.0",
  "-Clink-arg=/PDB:NONE",
  # "-Clink-arg=/LTCG",
  # "-Clink-arg=/FILEALIGN:512",
  # "-Clink-arg=/ALIGN:1",
  # "-Clink-arg=/DYNAMICBASE",
  # "-Clink-arg=/NXCOMPAT",
]
[target.'cfg(all(target_family="windows",not(target_env="msvc")))']
rustflags = [
  "-Cforce-unwind-tables=y",
  "-Clink-self-contained=+linker",
  "-Clinker-features=+lld",
  "-Clink-arg=-Wl,--icf=all",
  "-Clink-arg=-Wl,--gc-sections",
  "-Clink-arg=-Wl,--as-needed",
  "-Clink-arg=-Wl,--build-id=none",
  "-Clink-arg=-Wl,--strip-all",
]

[target.'cfg(target_vendor="apple")']
rustflags = [
  "-Clink-arg=-Wl,-no_uuid",
  "-Clink-arg=-Wl,-S",
  "-Clink-arg=-Wl,-dead_strip",
  "-Clink-arg=-Wl,-dead_strip_dylibs",
  # "-Clink-arg=-Wl,-segalign",
  # "-Clink-arg=-Wl,1",
  # "-Clink-arg=-Wl,-no_version_load_command",
]

[target.'cfg(target_arch="x86_64")']
# rustflags = ["-Ctarget-cpu=x86-64-v3", "-Ztune-cpu=x86-64-v3"]

[target.'cfg(all(target_arch="aarch64",target_vendor="apple"))']
rustflags = ["-Ctarget-cpu=apple-m1", "-Ztune-cpu=apple-m1"]

[target.'cfg(all(target_arch="aarch64",target_os="linux",not(target_env="ohos")))']
linker = "aarch64-linux-gnu-gcc"

[target.'cfg(all(target_arch="x86_64",target_os="linux",not(target_env="ohos")))']
linker = "x86_64-linux-gnu-gcc"

[target.'cfg(all(target_arch="s390x",target_os="linux"))']
linker = "s390x-linux-gnu-gcc"

[target.'cfg(all(target_arch="powerpc64",target_os="linux",target_endian = "big"))']
linker = "powerpc64-linux-gnu-gcc"
[target.'cfg(all(target_arch="powerpc64",target_os="linux",target_endian = "little"))']
linker = "powerpc64le-linux-gnu-gcc"

[target.'cfg(all(target_arch="riscv64",target_os="linux"))']
linker = "riscv64-linux-gnu-gcc"

[target.'cfg(all(target_arch="sparc64",target_os="linux"))']
linker = "sparc64-linux-gnu-gcc"

[target.'cfg(all(target_arch="loongarch64",target_os="linux",not(target_env="ohos")))']
linker = "loongarch64-linux-gnu-gcc"

[target.'cfg(all(target_arch="mips64",target_os="linux",target_endian = "big"))']
linker = "mips64-linux-gnuabi64-gcc"
[target.'cfg(all(target_arch="mips64",target_os="linux",target_endian = "little"))']
linker = "mips64el-linux-gnuabi64-gcc"
[target.'cfg(all(any(target_arch="mips64",target_arch="mips64r6"),target_os="linux"))']
rustflags = ["-Clink-arg=-Wl,-z,execstack"]
[target.'cfg(all(target_arch="mips64r6",target_os="linux",target_endian = "big"))']
linker = "mipsisa64r6-linux-gnuabi64-gcc"
[target.'cfg(all(target_arch="mips64r6",target_os="linux",target_endian = "little"))']
linker = "mipsisa64r6el-linux-gnuabi64-gcc"

[target.'cfg(any(target_os="linux",target_os="android"))']
rustflags = ["-Zrelax-elf-relocations"]

[target.'cfg(any(target_os="freebsd",target_os="netbsd",target_os="openbsd",target_os="dragonfly"))']
linker = "clang"
rustflags = ["-Clink-arg=-fuse-ld=lld"]

[target.x86_64-unknown-freebsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/freebsd/amd64",
  "-Clink-arg=--target=x86_64--freebsd",
]
runner = "qemu-x86_64 -L sysroot/freebsd/amd64"

[target.aarch64-unknown-freebsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/freebsd/arm64",
  "-Clink-arg=--target=aarch64--freebsd",
]
runner = "qemu-aarch64 -L sysroot/freebsd/arm64"

[target.riscv64gc-unknown-freebsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/freebsd/riscv",
  "-Clink-arg=--target=riscv64gc--freebsd",
]

[target.powerpc64-unknown-freebsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/freebsd/powerpc64",
  "-Clink-arg=--target=powerpc64--freebsd",
]
[target.powerpc64le-unknown-freebsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/freebsd/powerpc64le",
  "-Clink-arg=--target=powerpc64le--freebsd",
]

[target.x86_64-unknown-dragonfly]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/dfly",
  "-Clink-arg=--target=x86_64--dragonfly",
]

[target.x86_64-unknown-netbsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/netbsd/amd64",
  "-Clink-arg=--target=x86_64--netbsd",
]

[target.aarch64-unknown-netbsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/netbsd/evbarm-aarch64",
  "-Clink-arg=--target=aarch64--netbsd",
]

[target.riscv64gc-unknown-netbsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/netbsd/riscv64",
  "-Clink-arg=--target=riscv64gc--netbsd",
]

[target.'cfg(target_os = "openbsd")']
rustflags = ["-Ctarget-feature=+crt-static"]

[target.x86_64-unknown-openbsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/openbsd/amd64",
  "-Clink-arg=--target=x86_64--openbsd",
]

[target.aarch64-unknown-openbsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/openbsd/arm64",
  "-Clink-arg=--target=aarch64--openbsd",
]

[target.riscv64gc-unknown-openbsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/openbsd/riscv64",
  "-Clink-arg=--target=riscv64gc--openbsd",
]

[target.powerpc64-unknown-openbsd]
rustflags = [
  "-Clink-arg=--sysroot=sysroot/openbsd/powerpc64",
  "-Clink-arg=--target=powerpc64--openbsd",
]

[target.'cfg(target_os = "android")']
rustflags = ["-Clink-arg=--sysroot=ndk/sysroot"]

[target.riscv64-linux-android]
ar = "ndk/bin/riscv64-linux-android-ar"
linker = "ndk/bin/riscv64-linux-android35-clang"

[target.aarch64-linux-android]
ar = "ndk/bin/aarch64-linux-android-ar"
linker = "ndk/bin/aarch64-linux-android35-clang"

[target.x86_64-linux-android]
ar = "ndk/bin/x86_64-linux-android-ar"
linker = "ndk/bin/x86_64-linux-android35-clang"

[target.armv7-linux-androideabi]
ar = "ndk/bin/arm-linux-androideabi-ar"
linker = "ndk/bin/armv7a-linux-androideabi35-clang"

[target.thumbv7neon-linux-androideabi]
ar = "ndk/bin/arm-linux-androideabi-ar"
linker = "ndk/bin/armv7a-linux-androideabi35-clang"

[target.'cfg(target_env="ohos")']
linker = "ohos/bin/clang"
rustflags = ["-Clink-arg=--sysroot=ohos-root"]

[target.aarch64-unknown-linux-ohos]
rustflags = ["-Clink-arg=--target=aarch64--linux-ohos"]
[target.armv7-unknown-linux-ohos]
rustflags = ["-Clink-arg=--target=armv7--linux-ohos"]
[target.loongarch64-unknown-linux-ohos]
rustflags = ["-Clink-arg=--target=loongarch64--linux-ohos"]
[target.x86_64-unknown-linux-ohos]
rustflags = ["-Clink-arg=--target=x86_64--linux-ohos"]

[target.mips64-openwrt-linux-musl]
linker = "wrt/bin/mips64-openwrt-linux-gcc"
rustflags = ["-Clink-arg=--sysroot=wrt/mips64-openwrt-linux-musl"]

[target.'cfg(target_os="fuchsia")']
linker = "clang"
rustflags = ["-Clink-arg=-fuse-ld=lld"]
[target.aarch64-unknown-fuchsia]
rustflags = [
  "-Clink-arg=--target=aarch64--fuchsia",
  "-Clink-arg=--sysroot=fuchsia/arch/arm64/sysroot",
  "-Lnative=fuchsia/arch/arm64/lib",
]
[target.x86_64-unknown-fuchsia]
rustflags = [
  "-Clink-arg=--target=x86_64--fuchsia",
  "-Clink-arg=--sysroot=fuchsia/arch/x64/sysroot",
  "-Lnative=fuchsia/arch/x64/lib",
]
[target.riscv64gc-unknown-fuchsia]
rustflags = [
  "-Clink-arg=--target=riscv64gc--fuchsia",
  "-Clink-arg=--sysroot=fuchsia/arch/riscv64/sysroot",
  "-Lnative=fuchsia/arch/riscv64/lib",
]
